<div class="flex min-w-0 flex-auto flex-col">
  <div class="flex p-4 justify-between bg-primary">
    <div class="flex p-2 justify-center items-center gap-4 text-white">
      <mat-icon class="text-white text-3xl" fontIcon="group"></mat-icon>
      <h2 class="text-2xl">Gestion commande</h2>
    </div>
    <div>
      <button mat-fab class="!bg-white text-gray-700" (click)="handleOpenDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="p-6 bg-white rounded-xl shadow-md">
    <h2 class="text-2xl font-semibold mb-4">La liste des commandes</h2>

    <table mat-table [dataSource]="commandes" class="mat-elevation-z8 w-full">

      <!-- Name Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let commande">
          {{ commande.id || 'Nom inconnu' }}
        </td>
      </ng-container>

      <!-- Prix Column -->
      <ng-container matColumnDef="Prix">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let commande">
          {{ commande.Prix || 'Prix non disponible' }}
        </td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> Quantité </th>
        <td mat-cell *matCellDef="let commande">
          {{ commande.quantity || 'Quantité non spécifiée' }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let commande">
          <button mat-button color="primary" (click)="updatecommande(commande)">Modifier</button>
          <button mat-button color="warn" (click)="deletecommande(commande.id)">Supprimer</button>
        </td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
