<div class="bg-white w-full max-w-md">
    <h2 class="text-2xl font-semibold text-gray-700 mb-4">Ajouter un nouveau produit</h2>
  
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <!-- Champ Nom -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Nom du produit</label>
        <input type="text" formControlName="name" class="w-full mt-1 p-2 border rounded-lg focus:ring focus:ring-blue-300" placeholder="Entrez le nom du produit">
      </div>
  
      <!-- Champ Prix -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Prix</label>
        <input type="number" step="0.01" formControlName="price" class="w-full mt-1 p-2 border rounded-lg focus:ring focus:ring-blue-300" placeholder="Entrez le prix">
      </div>
  
      <!-- Champ Quantité -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Quantité</label>
        <input type="number" formControlName="quantity" class="w-full mt-1 p-2 border rounded-lg focus:ring focus:ring-blue-300" placeholder="Entrez la quantité">
      </div>
  
      <!-- Champ URL de l'image -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">URL de l'image (optionnel)</label>
        <input type="text" formControlName="imageUrl" class="w-full mt-1 p-2 border rounded-lg focus:ring focus:ring-blue-300" placeholder="Entrez l'URL de l'image">
      </div>
  
      <!-- Bouton de soumission -->
      <div class="mt-4">
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600" >Ajouter le produit</button>
      </div>
    </form>
  </div>
  